{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block body %}
    <!-- <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        </form>
    </nav> -->
    <h1 class="title" style="text-align: center;">Welcome. This website is being developed right now and will be available soon! </h1>
    <h5 class="title" style="text-align: center;">In the meantime, have a look at the image below. </h5>
    <img src="https://i.pinimg.com/originals/3c/be/5e/3cbe5eea9728b0bc4d50ff07b356292f.gif" style="height: 600px; width: 600px; display: block; margin-left: auto; margin-right: auto; width: 50%;">
{% endblock %}