{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
    <!--Yayy, you can use inspect element! Well done. There's nothing hidden here yet, but take a look in the future :)-->
    <!-- <h1 class="title" style="text-align: center;">Welcome. This website is being developed right now and will be available soon! </h1>
    <h5 class="title" style="text-align: center;">In the meantime, have a look at the image below. </h5> -->
    
    <h1 class="title" style="text-align: center;">Eek, there are rats in the kitchen.</h1>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Some random stuff to fill up space!
            </div>
            <div class="card-body">
                <p>So what is it that you need?<br>Huh<br></p>
            </div>
        </div>
    </div>
    <script>
        function getRandomInt() {
            return Math.floor(Math.random() * 255);
        }
        
        
    </script>
{% endblock %}